@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./all.css";

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
  .swiper {
    @apply w-full;
    padding: 0.2rem !important;
  }
}

@layer base {
  * {
    /* font-family: IRANSansXFaNum; */
    line-height: unset;
    direction: ltr;
    @apply p-0 m-0 box-border outline-0 no-underline list-none border-0 border-transparent;
  }

  body {
    @apply w-screen h-screen p-3
    flex flex-row justify-center items-start gap-2 overflow-x-hidden
    bg-gradient-to-tr from-slate-700 to-slate-900;
  }

  ::-webkit-scrollbar {
    @apply w-0;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-500 rounded-xl;
  }
}
